html, BODY, .main
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background: #555;
    margin: 0;
    padding: 0;
    height: 100%;
    border: none;
    color: #ccc;
}

div.main
{
    position: relative;
    display: none;
}

.ui-button-text-only .ui-button-text
{
    padding: 0px;
    padding-top: 4px;
}

#canvasDiv
{
    position: absolute;
    overflow: scroll;
    top: 0px;
    left: 0px;
    bottom: 20px;
    right: 0px;
}

#canvasDiv canvas
{
    position: absolute;
    left: 0;
    top: 0;
}

.hoverDiv
{
    height: 20;
    color: White;
}

label.toolButton
{
    padding: 0px;
    margin: 0px;
    width: 24px;
    height: 24px;
}

.status
{
    background-color: #444;
    color: #fff;
    text-align: right;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.optionsToggle
{
    width: 35px;
    height: 35px;
    background-color: #444;
    position: absolute;
    z-index: 7501;
    border-bottom-right-radius: 10px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 0px 0px 0px 2px #CCC, 0px 0px 0px 3px black;
    text-align: center;
    top: 0;
    left: 0px;
    cursor: pointer;
}

.options
{
    width: 300px;
    height: 300px;
    background-color: #444;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7500;
    box-shadow: 0px 0px 0px 2px #CCC, 0px 0px 0px 3px black;
}

#tools
{
    top: 48px;
    left: 5px;
}

#key
{
    top: 235px;
    left: 5px;
}

.titleBar
{
    color: #fff;
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 2px;
    background-color: #444;
}
#tools > .drawingTools > .titleBar, #key > .titleBar
{
    cursor: move;
}

div.buttonContainer
{
    float: left;
    width: 26px;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.drawingTools, .annotationTools, .fileTools
{
    width: 78px;
    height: auto;
    background: #000;
    float: left;
}

div.toolbar
{
    margin: 0px 5px 0px 5px;
    background: #000;
    width: 78px;
    position: absolute;
    z-index: 10;
    border: 1px solid #000;
    box-shadow: 0px 0px 0px 2px #CCC, 0px 0px 0px 3px black, 2px 2px 2px 2px #999;
}

.tooltip
{
    background-color: #ffc;
    text-align: center;
    color: black;
    display: none;
    position: absolute;
    z-index: 7001;
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
}

button.ui-button .ui-icon
{
    background-image: url(blank.png);
}

td
{
    vertical-align: top;
}

label > span > img
{
    vertical-align: top;
}

label.cabinet
{
    width: 24px;
    height: 16px;
    background: url(../tiles/upload.png) 4px 0 no-repeat;
    display: block;
    overflow: hidden;
    cursor: pointer;
    float: left;
}

label.cabinet input.file
{
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.slider
{
    padding: 10px !important;
    float: right;
}

#slider
{
    float: right;
    width: 150px;
    margin-right: 10px;
}

#amount
{
    width: 30px;
    border: 0;
    color: #f6931f;
    font-weight: bold;
}
